<app-menu></app-menu>

<div>
  <img
    src="https://irp-cdn.multiscreensite.com/df1b0f02/dms3rep/multi/mobile/123882404_3423988687637821_8672902683495438308_o-2e56b8c3.jpg"
    alt="900x400" style="width: 100%;height: 333px;">
    <h5 class="nameTag">Events</h5>
</div>
<br>

<!-- buttons start -->
<div class="row">
  <div class="col-sm-12 text-center">
      <button id="btnSearch" class="btn  btn-md center-block"  OnClick="btnSearch_Click" >Schedule</button>
       <button id="btnClear" class="btn  btn-md center-block"  OnClick="btnClear_Click" >Standings</button>
       <button id="btnSearch" class="btn  btn-md center-block"  OnClick="btnSearch_Click" >Results</button>
       <button id="btnClear" class="btn btn-md center-block"  OnClick="btnClear_Click" >World Finals</button>
   </div>
</div>

<br>
<br>
<!-- buttons end -->

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>CONTACT INFO</h4>
          <p>
            <strong class="landmark">101 W. Riverwalk<br></strong>
            <strong class="landmark">Pueblo, Colorado 81003<br></strong>
            <strong>Phone : <span class="landmark">(719) 242-2747</span><br></strong>
            <strong>FAX : (719) 242-2746<br></strong>
            <strong>Email: <span class="landmark">info@americanbuckingbull.com</span></strong>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>OUR COMPANY</h4>

          <ul>
            <li><a href="#"><strong class="landmark">About ABBI</strong></a></li>
            <li><a href="#"><strong class="landmark">Press Room</strong></a></li>
            <li><a href="#"><strong class="landmark">Contact Us</strong></a></li>
            <li><a href="#"><strong class="landmark">Privacy Policy</strong></a></li>
            <li><a href="#"><strong class="landmark">2020 Rule Book</strong></a></li>
          </ul>

        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>MEMBERS AREA</h4>
          <p><strong>Login to the Members Area to see your animal inventory, manage your profile and make
              payments.</strong></p>
          <ul>
            <li><a href="#"><strong class="landmark">Login Now</strong></a></li>
            <li><a href="#"><strong class="landmark">Join ABBI</strong></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span> IntegrityTek 2018</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/company-free-html-bootstrap-template/ -->
        Designed by <a href="https://integrity-tek.com/" target="_blank"><span
            style="color: orange">IntegrityTek</span></a>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->