
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex align-items-center">
      <a href="#" class="logo mr-auto"><img src="https://lirp-cdn.multiscreensite.com/df1b0f02/dms3rep/multi/opt/abbi_logo_color2-640w.png" alt="American Bucking Bull" class="img-fluid"></a>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="#">ABOUT US</a></li>
          <li><a routerLink="/event">EVENTS</a></li>
          <li><a routerLink="/registration">REGISTRATION</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="#"><i class="fa wp-icon fa-facebook-f fa-lg"></i></a>
        <a href="#"><i class="fa wp-icon fa-twitter fa-lg"></i></a>
        <a href="#"><i class="fa wp-icon fa-instagram fa-lg"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

<!-- 
  <app-about-us></app-about-us>


  <router-outlet></router-outlet> -->